$font-main: 'Inria Serif', serif;
$font-sub: 'Roboto', sans-serif;

body{
    footer {
        margin-top: 7%;
        margin-bottom:7%;
        font: 40px $font-main;
        font-weight:bolder;
        background-color:rgba(0,0,0,0.2);
    }
}
